/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #026207;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 24px;
}

.desc {
    margin: 10px 0;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #555;
}

#contents {
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #026207;
    color: #fff;
    padding: 10px;
    text-align: center;
}
